In [5]:
1 + 2

3

In [7]:
import numpy as np

In [19]:
import pandas as pd

In [20]:
from numpy.random import randn

In [11]:
pd

In [13]:
pd.Series([1,3,4],['a','b','c'])

a    1
b    3
c    4
dtype: int64

In [15]:
pd.DataFrame([1,3,4],['a','b','c'])

   0
a  1
b  3
c  4

In [24]:
pd.DataFrame(randn(5,4),['A','B','C','D','E'],['C1','C2','C3','C4'])

         C1        C2        C3        C4
A -1.903483 -0.719480 -1.085725  1.234207
B -0.546690 -0.558833 -0.310730  1.806725
C -1.032668  0.345784  2.881510 -0.505722
D -0.625426 -0.022444  0.890035 -0.288252
E  0.286295  0.372295  1.715478  1.079206